<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Mixer with Vue</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="slider-container">
                <input type="range" id="redSlider" v-model="red" min="0" max="255" @input="updateColor('red')">
                <input type="range" id="greenSlider" v-model="green" min="0" max="255" @input="updateColor('green')">
                <input type="range" id="blueSlider" v-model="blue" min="0" max="255" @input="updateColor('blue')">
            </div>
            <div id="colorValue">{{ color }}</div>
            <button @click="getRandomColor">Get Random Color</button>
        </header>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>

</html>